apex==0.9.10dev
boto3==1.24.28
botocore==1.27.59
dill==0.3.6
en_core_web_sm==3.5.0
filelock==3.12.4
gensim==4.3.0
ipdb==0.13.13
networkx==3.1
nltk==3.7
numpy==1.21.2
pandas==2.0.1
Requests==2.31.0
scikit_learn==1.2.2
scipy==1.10.1
spacy==3.5.3
tensorboardX==2.4.1
tensorboardX==2.6.2.2
tensorflow==2.14.0
torch==1.9.1
tqdm==4.65.0
transformers==4.24.0
